### Configuration data for the MQTT pack.
---
hostname: ''
subscribe:
  - ""

## Optional Parameters
# client_id: ""
# port: 1833
# protocol: "<MQTTv3|MQTTv311|MQTTv5>"
# username: ""
# password: ""
# userdata: ""
# ssl: true
# ssl_cacert: ""
# ssl_cert: ""
# ssl_key: ""
# transport: "<tcp|websockets>"
